@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*, *:after, *:before {
  box-sizing: border-box;
}
/* nb: не работает фон, почему? */
body {
  background: url('/static/bckg.png') no-repeat center center fixed;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  font-family: 'Roboto', sans-serif;
}

input[type="text"],
input[type="number"],
select {
    width: 100%; /* Ширина поля */
    padding: 10px; /* Поля */
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    border: 1px solid #0306bd; /* Параметры рамки */
    color: #000000; /* Цвет текста */
    background-color: #fff5;
    backdrop-filter: blur(7px);
    
}

label {
    color: #005BAA;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none; /* убираем обводку при фокусе */
  border-color: #005BAA; /* изменяем цвет границы при фокусе */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #005BAA;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* добавляем плавный переход */
  }
  
  input[type="submit"]:hover {
    background: linear-gradient(45deg, #005BAA, #61aff3,#e694ff); /* градиентный фон при наведении */
  }
  
  .navbar {
    width: 100%;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    font-family: calibri;
    padding: 15px;
    border-radius: .8rem;
    border: 2px solid #005BAA;
    margin-bottom: 20px; /* Добавлен отступ снизу */
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Пространство между элементами */
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    background-image: linear-gradient(to right, #005BAA, rgb(255, 0, 119));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none; /* Убирает подчеркивание */
}

.nav-items {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    color: #005BAA;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none; /* Убирает подчеркивание */
}

/* Убираем последний margin-right у последнего элемента списка */
.nav-items li:last-child a {
    margin-right: 0;
}

p
{
  color: #005BAA;
}

::placeholder {
  color: gray;
}

