<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Изменить пароль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='change_pswd.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/change_pswd.css">

</head>
<body>
<nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/">Физкультура</a></div>
            <ul class="nav-items">

                <!-- <li><a href="{{url_for('register')}}">Регистрация</a></li> -->
                 <li><a href="{{url_for('login')}}">Вход</a></li>
                <li><a href="{{url_for('normative')}}">Нормативы</a></li>
            </ul>
        </div>
    </nav>

<div class="mainDiv">
    <div class="cardStyle">
        <form action="" method="post" name="signupForm" id="signupForm">
            <h2 class="formTitle">Изменить пароль</h2>

            <div class="inputDiv">
                <label class="inputLabel" for="email">Укажите свою почту</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="password">Новый пароль</label>
                <div class="inputContainer">
                    <input type="password" id="password" name="password" required>
                    <i class='bx bx-show togglePassword' id="togglePassword"></i>
                </div>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Повторите пароль</label>
                <div class="inputContainer">
                    <input type="password" id="confirmPassword" name="confirmPassword">
                    <i class='bx bx-show togglePassword' id="toggleConfirmPassword"></i>
                </div>
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Продолжить</span>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const togglePassword = document.getElementById('togglePassword');
        const password = document.getElementById('password');
        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the icon
            this.classList.toggle('bx-hide');
            this.classList.toggle('bx-show');

        });

        const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
        const confirmPassword = document.getElementById('confirmPassword');
        toggleConfirmPassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);
            // toggle the icon
            this.classList.toggle('bx-hide');
            this.classList.toggle('bx-show');

        });
    });
</script>

</body>
</html>
