<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="navbar">
    <div class="navdiv">
        <div class="logo"><a href="/">Физкультура</a></div>
        <ul>
            <li><a href="{{url_for('login')}}">Вход</a></li>
            <li><a href="{{url_for('normative')}}">Нормативы</a></li>
        </ul>
    </div>
</nav>

<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Вход</h3>
    </div>
    <div class="clear"></div>
    {% for msg in get_flashed_messages()%}
    <div class="flash">{{msg}}</div>
    {% endfor %}
    <form method="POST" action="/login" class="login-form">
        <div>
            <input class="user-input" type="text" name="email" id="email" placeholder="Электронная почта"/>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Пароль"/>
        </div>
        <div>
            <input type="submit" value="Войти"/>
            <a class="forgot-label" href="{{url_for('change_pswd')}}">Забыли пароль?</a>
            <a class="existing-user-label" href="{{url_for('register')}}">Еще не наш пользователь?</a>
        </div>
        <div class="clear"></div>
    </form>
</div>
</body>
</html>
