<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
<nav class="navbar">
    <div class="navdiv">
        <div class="logo"><a href="/">Физкультура</a></div>
        <ul>
            <li><a href="{{url_for('home')}}">Главная</a></li>
            <li><a href="{{url_for('register')}}">Регистрация</a></li>
            <li><a href="{{url_for('login')}}">Вход</a></li>
            <li><a href="{{url_for('normative')}}">Нормативы</a></li>
        </ul>
    </div>
</nav>

<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Регистрация</h3>
    </div>
    <div class="clear"></div>
    <form action="/register" method="POST">
        <div>
            <input class="user-input" type="text" name="fullname" id="fullname" placeholder="Фамилия Имя Отчество"/>
            <input class="user-input" type="text" name="name" id="name" placeholder="Электронная почта"/>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Пароль"/>
        </div>
        <div>
            <input type="submit" value="Зарегистрироваться"/>
        </div>
        <div class="clear"></div>
    </form>
</div>

</body>
</html>
