<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Таблица</title>
    <link rel="stylesheet" type="text/css" href="/static/style_tables.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_tables.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/">Физкультура</a></div>
            <ul class="nav-items">
                <li><a href="{{url_for('home')}}">Главная</a></li>
                <li><a href="{{url_for('register')}}">Регистрация</a></li>
                <li><a href="{{url_for('login')}}">Вход</a></li>
                <li><a href="{{url_for('normative')}}">Нормативы</a></li>
            </ul>
        </div>
    </nav>
    
<main class="table">
    <section class="table__header">
        <a href="{{ url_for('logout') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOFJREFUSEvdVW0OgjAMfRMPgjfBQ7AYMFFPgpyEP06TcQi5id5kplvwgyB0ZiTE/u7ra9/6VoGJQ0xcHzMh2NYJjCkAJIyJGwhR4pQ2lMubINc3ADGjeJvSQMm1D4GxSCXHG8r1R+44gAp3QIOTzIcg1xWUPNhug06wucSIospuDEfzrl6DErl1vD4xQQkyvYcAde4X3Sa+TpDVBYQ5+lXvWd1BiZz+JJEzVVCJ2tbfSSYhICIiWSx3OKdl+DXte4SgPvhXAt/v+g4lV/zv2jmcTMi5CT8cHG/3vQC8ezBnggc8+HMZU1ON1wAAAABJRU5ErkJggg==" alt="Выход"/></a>
        <!-- export to excel here
        <a href="{{ url_for('export') }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOFJREFUSEvdVW0OgjAMfRMPgjfBQ7AYMFFPgpyEP06TcQi5id5kplvwgyB0ZiTE/u7ra9/6VoGJQ0xcHzMh2NYJjCkAJIyJGwhR4pQ2lMubINc3ADGjeJvSQMm1D4GxSCXHG8r1R+44gAp3QIOTzIcg1xWUPNhug06wucSIospuDEfzrl6DErl1vD4xQQkyvYcAde4X3Sa+TpDVBYQ5+lXvWd1BiZz+JJEzVVCJ2tbfSSYhICIiWSx3OKdl+DXte4SgPvhXAt/v+g4lV/zv2jmcTMi5CT8cHG/3vQC8ezBnggc8+HMZU1ON1wAAAABJRU5ErkJggg==" alt="Выход"/></a> -->
        <div class="input-group">
            <input type="search" placeholder="Найти...">
            <img src="/static/search.png" alt="">
        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File">
                <a href="{{ url_for('export') }}">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALxJREFUSEvtlEEOgjAUROeHi+BN4BD8GHHDSfAoLKgmcAi5iXiSb0pUEK2tDcQFdNufeZ3ptISZF82sj6UB0kq6SBU7O3ce7IRXgLWyC4/IZH9X5yA5GOIroDh72Rvp9DX9lm9aXQCEI0gDxfEb2AuwPYUIgvMA0kLx5qMrL4BWGkKIYpRJMy1Aq+n7gFxx5MJYaW8H1kdyH/gnQF9i5HpQy9yzYX1N93UEkXwCSAui7FGC375rD3srwBraDXTKYBn3aosKAAAAAElFTkSuQmCC" alt="export">
                </a>
            </label>
            <input type="checkbox" id="export-file">
        </div>
        
        
        
    </section>
    <section class="table__body">
        <table id="customers_table">
            <thead>
            <tr>
                <th> ФИО <span class="icon-arrow">&UpArrow;</span></th>
                <th> Группа <span class="icon-arrow">&UpArrow;</span></th>
                <th> Оценка <span class="icon-arrow">&UpArrow;</span></th>
            </tr>
            </thead>
            <tbody>
            {% for st in students %}
            <tr>
                <td>{{ st.name }}</td>
                <td>{{ st.group }}</td>
                <td>{{ st.mark }}</td>
                <td>
                    <a href="/table/edit/{{st.id}}" button class="edit-btn"><img 
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPRJREFUSEvFlNsRgjAQRS9DI9iJFiGj8qOdaCX6AzppQjuRRhCGR4bXbjbhMfJJknN27wY8rPx4K/MxT3BS56rAX/bB65hSxU4THJ4BfP8OYNtAU2TZjpK4C/pwXXUAgJS4CYbwONxUHUTqCyBAjguS8NGNyl7AxVLSdFy5d0Wyv7kLTLGU0dSzSKE76hjkDqRYahgJLxfMAg7OvSfuKS9YAM53sBCcFiwIpwWReo9uhUPmwzGMZxCpvNoUh/XaDDjXQSuYCTcL+r2y91z63fMRtScnw+UPTSrPYl3+VVhATFtsInJT6NvXnPqDwK1ecffqMygAhSx6GSy/eOUAAAAASUVORK5CYII=" 
                        alt="Редактировать"></a>
                    <a href="/table/delete/{{st.id}}"button class="delete-btn"><img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALlJREFUSEtjZKAxYKSx+Qz4LYhZ7cDw//98BgYGBRwOecDAyJjIsCT0AC6H4rcgetV+BgYGBwK+fMCwNEyRXAv+gzUuDcPukOhV+OUZGAgEESEDCMljWADTQGnMI/kY1es0twDmciK8juJJPOrJjjzqWoDuQkJ8JNuJ8wEhAykOolELMPIVqUEyGgcEiyaKg4iQDWRYQExFg27tAYalYY7ogthzMqSqrCeiNoOZh7PqHOBKn1DYEyEPAAGMoBkPge7fAAAAAElFTkSuQmCC" 
                        alt="Удалить"></button></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>
<script src="/static/script_tables.js"></script>
</body>
</html>
